<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300264771505-fucooveqssne0kqcdl6jtmhljntiebr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300264771505-fucooveqssne0kqcdl6jtmhljntiebr0</string>
	<key>API_KEY</key>
	<string>AIzaSyCJiiocHg_meJIUd3avKRM_QpjkB4NonAY</string>
	<key>GCM_SENDER_ID</key>
	<string>300264771505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.firstconnect</string>
	<key>PROJECT_ID</key>
	<string>second-nile</string>
	<key>STORAGE_BUCKET</key>
	<string>second-nile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:300264771505:ios:9ec8b7d7b497552a75b790</string>
</dict>
</plist>
